<!DOCTYPE html>
<html>
    <head>
        <title>Add New Course</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="assets/css/main.css" type="text/css" rel="stylesheet" />
        <script src="assets/javascript/page_nav.js" type="text/javascript"></script>
        <script src="assets/javascript/form_processing.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>Add New Course to the Inventory</h1>
        <form id="ADD_FORM">
            <label for="Course_Number">Course Number:</label>
            <input id="COURSE_NUMBER" type="text" /> <br />
            <label for="Course_Title">Course Title:</label>
            <input id="COURSE_TITLE" type="text" /> <br />
            <label for="Credit_Hours">Credit Hours:</label>
            <input id="CREDIT_HOURS" type="text" />
            <div class="buttonHolder">
                <button type="submit">Add</button>
                <button type="reset">Cancel</button>
            </div>
        </form>
        <div class="buttonHolder">
            <button id="BACK">Go Back to Menu</button>
        </div>
    </body>
</html>