body {
    background-color: maroon;
}

h1, h2 {
    text-align: center;
    color: white;
}

p {
    color: white;
    font-size: 18px;
}

label {
    color: white;
    font-size: 18px;
}

.buttonHolder {
    margin-top: 2%;
    text-align: center;
}

button:hover {
    background-color: yellow;
    color: black;
}

button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
}

form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label + input {
    width: 30%;
    margin: 0 30% 0 4%;
}